body {
    background-color: black;
}

.heading, h4 {
    text-align: center;
    font-family: 'Supermercado One', cursive, sans-serif;
    color: aqua;
    font-size: 50px;
    font-weight: lighter;
    padding: 2px;
}

p {
    text-align: center;
    font-family: 'Supermercado One', cursive, sans-serif;
    color: rgb(210, 177, 241);
    font-weight: lighter;
    padding: 2px;
}
div {
    text-align: center;
    color: cadetblue;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    padding: 5px;
    font-size: 50px;
}
#location {
    text-align: center;
    color: cadetblue;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}

#button {
    text-align: center;
    padding-top: 0;
    
}
.startstop {
    font-size: 100px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -55%);
    
}
#click {
    position: relative;
    top: 55%;
    left: 48.4%;
    transform: translate(-51.6%, -45%);

}
#click li {
    display: inline;
    padding-left: 10px;

}
